/* Global */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
    box-sizing: border-box;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

header a {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

header a:hover {
    color: #696969;
} 
/* Need this later for footer */


#nav-title {
    margin-right: auto;
    font-size: 1.5em;
}


header nav li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

/* Use to make search bar round */
/* border-radius: 12px; */

/* Section Banner starts here */
.banner {
    display: inline;
    /* background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}
.banner div{
    background-color: purple; 
    height: 50%;
    margin: 0 100px 30px;
}

/* Section 2 stars here */
.section2{
    /* background-color:white; */
    height: fit-content;
    padding: 0 100px 30px;
}

.section2  a{
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
}

/* Courses Section Starts here */
.section2 .container{
    height: fit-content;
    margin: 0 30px; 
    padding-top: 20px;
    padding-bottom: 15px;
}

.section2 .container span{
    padding-bottom: 20px 0;
}


.nav-sec{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom:10px;
}

.nav-sec li{
    list-style: none;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
}

.courses-container{
    border: solid;
    border-width: thin;
    padding-top: 30px;
}

.cc-text{
    height: fit-content; 
    width: fit-content; 
    margin-left: 30px; 
    margin-right:420px; 
    line-height: 25px;

}

.py-btn {
    background-color: white;
    color: black;
    width: fit-content;
    height: 40px;
    padding: 5px 5px;
    border: 1px solid black; 
    transition-duration: 0.4s;
  }
  .py-btn:hover {
    background-color: gray; 
    color: white;
  }

/* Section 2 Ends here */

/* section 3 */
.stdf-container{
    background-color: #D3D3D3;
    padding-top:50px;    
}
.stdf-header{
    padding-left:100px;
}

.parent3-container{
    /* TRBL Margin Notation*/
    margin: 30px 30px 20px 100px;
}

.stdf-headcontent{
    margin: 50px 50px;
    /* background-color: #555; */
    height: 200px;
    width: 300px;
    /* border: solid; */
    line-height: 1.4;
    font-size: 1.0rem;
    font-weight: 400;
    color: #1c1d1f;
}

.stdf-headcontent a{
    color: purple;
    text-decoration: none;
    font-weight: 700;
}






/* Grid Layout Template*/

  .parent {
    padding-top: 30px;
    /* Grid Layout Here */
    margin-left: 30px;
    margin-right: 30px;
    width: 95%;
    height: 65%;
    display: grid;
    /* grid-template-columns: [col-start] 1fr [col-2]  [col-end]; */
    grid-auto-rows: 120px auto;
    grid-template-areas: 
        "header main sidebar extra footer"
}

.head {
    grid-area: header;
}

.main{
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.parent-text {
   
    margin-left: 30px;
    margin-right: 30px;
    width: 95%;
    height: 65%;
    /* outline: 8px solid black; */
    display: grid;
    /* grid-template-columns: [col-start] 1fr [col-2]  [col-end]; */
    grid-auto-rows: 120px auto;
    grid-template-areas: 
        "header main sidebar extra footer"
        
}

/* 3 coloum section (stdf-headcontent) */
.parent3{
    /* margin-left: 20px;
    margin-right: 20px; */
    width: 95%;
    height: 45%;
    /* outline: 8px solid black; */
    display: grid;
    /* grid-template-columns: [col-start] 1fr [col-2]  [col-end]; */
    grid-auto-rows: 300px  auto;
    grid-template-areas: 
        "header main sidebar"
        

}

.parent2 {
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    width: 95%;
    height: 65%;
    /* outline: 8px solid black; */
    display: grid;
    /* grid-template-columns: [col-start] 1fr [col-2]  [col-end]; */
    grid-auto-rows: 120px auto;
    grid-template-areas: 
        "header main sidebar extra footer"
        

}

.viewcat-container{
    padding-top:50px; 
    padding-left:100px;
    height: fit-content;
}

.categories {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 95%;
    height: 65%;
    /* outline: 8px solid black; */
    display: grid;
    /* grid-template-columns: [col-start] 1fr [col-2]  [col-end]; */
    grid-auto-rows: 300px auto;
    grid-template-areas: 
        "header main extra footer"
}

.categories-text {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 95%;
    height: 65%;
    display: grid;
    grid-auto-rows: 25px auto;
    grid-template-areas: 
        "header main extra footer"
}

.categories-text a{
    text-decoration: none;
    color: black;
}

.categories li{
    list-style: none;
    padding: 20px 10px;  
    font-size: 1.1rem;
}

.categories li a{
    text-decoration: underline;
    font-weight: bold;
    color: purple;
}

.cat-btn {
    background-color: white;
    text-decoration: none;
    color: black;
    width: fit-content;
    height: 40px;
    padding: 5px 5px;
    border: 1px solid black; 
    transition-duration: 0.4s;
  }
  .cat-btn:hover {
    background-color: gray; 
    color: white;
  }


.sponsors {
    margin:auto 30px;
    text-align: center;
}

.sponsors nav{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px 50px;
    
}


.nav-sponsors li {
    list-style: none;
    display: inline-block;
    padding: 20px 50px;  
    font-size: 20px;
}


.reviews {
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    padding-top: 20px;
    padding-bottom: 10px;
    width: 95%;
    height: 65%;
    display: grid;
    grid-auto-rows: 400px auto;
    grid-template-areas: 
        "head main"
}

.u-bus{
    padding-top: 20px;
    /* margin: 40px; */
    margin-left:200px; 
    /* background-color: #555; */
    height: 250px;
    width: 400px;
    list-style: bullet;
    
}

.u-bus-list{
    padding-top: 20px;
    font-size: 1.2rem;
    font-weight: 500;
}

/* .image{
    background-image: url('ud-bus.png'); 

} */

.b-btn {
    background-color: black;
    text-decoration: none;
    color: white;
    width: fit-content;
    font-weight: 700;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid black; 
    transition-duration: 0.4s;
  }

  /* .b-btn:hover {
    background-color: gray; 
    color: white;
  } */

  .w-btn {
    background-color: white;
    color: black;
    font-weight: 700;
    width: fit-content;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid black; 
    transition-duration: 0.4s;
  }
  .w-btn:hover {
    background-color: gray; 
    color: white;
  }


.footer{
    height: auto;
    background-color: black;
    
}


.footer-text {
    padding: 0px;
    /* margin-right: 30px; */
    color: #ddd;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 95%;
    height: 65%;
    display: grid;
    grid-auto-rows: 200px auto;
    grid-template-areas: 
        "header main footer extra"
}

.footer-text li{
    list-style: none;
    padding: 10px 50px;
  
}

.footer-text li a{
    text-decoration: none;
    color: #ddd;
    font-weight: 500;
}

.e-btn {
    background-color: black;
    text-decoration: none;
    color: white;
    width: fit-content;
    font-weight: 700;
    height: 40px;
    padding: 5px 20px;
    border: 1px solid white;; 
    transition-duration: 0.4s;
  }

